{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.firstname'|trans }}: {{ user.firstname }}</p>
    <p>{{ 'profile.show.lastname'|trans }}: {{ user.lastname }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {% if  user.role == "PROF" %}
        {% if user.getActivity() %}
            <p>{{ 'profile.show.activity'|trans }}: {{ user.getActivity().name }}</p>

        {% endif %}
    <p>{{ 'profile.show.address'|trans }}: {{ user.address}}</p>
    <p>{{ 'profile.show.address'|trans }}: {{ user.description}}</p>
    {% endif %}
    <a class="btn btn-primary" href="{{ path("fos_user_profile_edit")}}">Edit</a>

</div>
