{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.min.jss') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

{% endblock %}

{% block body %}
    
    <h1 class="text-center text-primary">Add new event !</h1><br/>

    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning:</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}