{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />

    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.min.jss') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    {{ form_javascript(form) }}
{% endblock %}

{% block body %}
    
    <h1 class="text-center text-primary">Edit event!</h1><br/>
    
    <form class="col-md-4 col-md-offset-4" role="form" action="{{ path("calendar_app_editEvent", {"id": id}) }}" method="post">

        <div class="form-group">
            {{ form_widget(form.eventTitle, {'attr': {'class': 'form-control', 'placeholder': 'Event title:'}}) }}
        </div>
        
        <div class="form-group">
            {{ form_widget(form.eventContent, {'attr': {'class': 'form-control', 'placeholder': 'Event content:'}}) }}
        </div>
        
        <div class="form-group">
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="text-center">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
	</div>
        {{ form_rest(form) }}

    </form>
{% endblock %}