{% extends 'base.html.twig' %}


{% block body %}

    <table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Spécialité</th>
        <th>Adresse</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    {% for pro in users %}
    <tr>
        <th>{{pro.lastname}}</th>
        <th>{{pro.firstname}}</th>
        <th>{{pro.activity}}</th>
        <th>{{pro.address}}</th>
        <th> <a class="btn btn-primary" href="{{ path("calendar_app_showPro", {'id': pro.id}) }}">Edit</a></th>
    </tr>
    {%  endfor %}
    </tbody>
    </table>
{% endblock %}