{% extends 'base.html.twig' %}


{% block body %}

    <h4 class="underline">Proid #{{pro.id}}</h4>

    <th>{{pro.lastname}}</th>
    <th>{{pro.firstname}}</th>
    {% if pro.getActivity() %}
        <th>{{pro.getActivity().name}}</th>
    {% endif %}
    <th>{{pro.address}}</th>
    <th>{{pro.description}}</th>

{% endblock %}